    <div class="display title"><h1>Produtos</h1> </div>


    <div class="display">  
        <table>
            <tr>
                <td>
                    <select name="cmbBusca" id="">
                        <option value="">Descrição</option>
                        <option value="">Cod. Interno</option>
                        <option value="">Cod. Produto</option>
                        <option value="">Cod. Barras</option>
                        <option value="">Fornecedor</option>
                        <option value="">Serviço</option>
                        <option value="">Conjuntos</option>
                        <option value="">Tintas</option>
                        <option value="">Estoque Baixo</option>
                    </select>
                </td>
                <td>
                    <input type="text" id="edtBusca" placeholder="Busca">
                </td>
                <td>
                    <button id="btnPesq">PESQUISAR</button>
                </td>                
                <td>
                    <button id="btnNovo">NOVO</button>
                </td>
            </tr>
        </table>
    </div>

    <div class="display">    
        <table class="search-table">
            <tr>
                <th>Campo 01</th>
                <th>Campo 02</th>
                <th>Campo 03</th>
            </tr>
            <tr>
                <td>linha 01 01</td>
                <td>linha 01 02</td>
                <td>linha 01 03</td>
            </tr>
            <tr>
                <td>linha 02 01</td>
                <td>linha 02 02</td>
                <td>linha 02 03</td>
            </tr>
            <tr>
                <td>linha 02 01</td>
                <td>linha 02 02</td>
                <td>linha 02 03</td>
            </tr>
        </table>        

    </div>

